@charset "UTF-8";
/* Сброс стилей всех елементов */
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*, *:before, *:after {
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

nav, footer, header, aside {
	display: block;
}

html, body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: 400;
}

/*--------------------*/
body {
	font-family: "Lato", sans-serif;
	overflow-x: hidden;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 10px;
}
@media (max-width: 1200px) {
	.container {
		max-width: 970px;
	}
}
@media (max-width: 992px) {
	.container {
		max-width: 750px;
	}
}
@media (max-width: 767px) {
	.container {
		max-width: none;
	}
}

.title {
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1.2em;
	letter-spacing: 0.2em;
	font-weight: 700;
	color: #353738;
}
@media (max-width: 500px) {
	.title {
		font-size: 16px;
		letter-spacing: 0.05em;
	}
}

.logo {
	width: 96px;
	height: 85px;
	object-fit: contain;
}

header {
	width: 100%;
	height: 100%;
	background: url("../images/bg_1.jpg") center/cover no-repeat;
}

@media (max-width: 768px) {
	.hamburger-menu {
		display: block;
		width: 40px;
		height: 30px;
		position: relative;
		z-index: 5;
		left: 20px;
		top: 20px;
	}
	.hamburger-menu:before, .hamburger-menu:after {
		content: "";
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		transition: all 0.3s ease 0s;
	}
	.hamburger-menu span {
		background-color: #000;
		position: absolute;
		width: 100%;
		height: 2px;
		left: 0;
		top: 14px;
		transition: all 0.3s ease 0s;
	}
	.hamburger-menu:before {
		top: 0;
	}
	.hamburger-menu:after {
		bottom: 0;
	}

	.hamburger-active:before, .hamburger-active:after {
		content: "";
		background-color: #fff;
		transform: rotate(-45deg);
		top: 20px;
	}
	.hamburger-active span {
		background-color: #fff;
		transform: rotate(45deg);
		top: 20px;
	}
}
.menu__items {
	padding: 45px 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.menu__item:after {
	content: ".";
	margin: 0 35px;
}
.menu__item:nth-child(2):after, .menu__item:last-child::after {
	content: "";
	margin: 0;
}
.menu__item a {
	font-size: 13px;
	font-weight: 700;
	line-height: 1.2em;
	text-transform: uppercase;
	letter-spacing: 0.2em;
	color: #4D4959;
}
.menu__item_logo {
	margin: 0 60px;
}
@media (max-width: 768px) {
	.menu {
		display: none;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(56, 56, 56, 0.98);
	}
	.menu-active {
		display: block;
	}
	.menu__items {
		flex-direction: column;
	}
	.menu__item {
		color: #fff;
		margin: 0 0 50px 0;
	}
	.menu__item:last-child {
		margin: 0;
	}
	.menu__item a {
		font-size: 25px;
		color: #fff;
	}
	.menu__item:after, .menu__item:nth-child(2):after, .menu__item:last-child::after {
		content: "";
		margin: 0;
	}
	.menu__item_logo {
		margin: 0 0 50px 0;
		order: -1;
	}
}

.new-generation {
	background-color: #f7f7f7;
}
.new-generation__content {
	padding: 110px 0 140px 0;
}
.new-generation__content .new-generation__icon, .new-generation__content .new-generation__title, .new-generation__content .new-generation__label {
	text-align: center;
}
.new-generation__content .new-generation__title {
	margin: 30px 0;
}
.new-generation__content .new-generation__label {
	font-size: 18px;
	line-height: 34px;
	font-weight: 400;
	color: #848789;
}
@media (max-width: 767px) {
	.new-generation__content {
		padding: 50px 0 70px;
	}
	.new-generation .new-generation__label {
		font-size: 16px;
		line-height: 25px;
	}
}
@media (max-width: 400px) {
	.new-generation__content {
		padding: 30px 0 50px;
	}
	.new-generation .new-generation__label {
		font-size: 14px;
		line-height: 25px;
	}
	.new-generation .new-generation__title {
		margin: 15px 0;
	}
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(56, 56, 56, 0.4);
	z-index: 1;
	display: flex;
	justify-content: center;
}
.overlay__img {
	align-self: center;
}
@media (max-width: 500px) {
	.overlay__img {
		max-width: 30%;
	}
}

.work .work__content .work__row {
	height: 600px;
	display: flex;
}
.work .work__content .work__row .work__column_big {
	overflow: hidden;
	width: 66.6666%;
	position: relative;
}
.work .work__content .work__row .work__column_small {
	position: relative;
	width: 33.3333%;
	display: flex;
	flex-direction: column;
}
.work .work__content .work__row .work__column_small .work__row-in-column_img {
	height: 33.3333333333%;
}
.work .work__content .work__row .work__column_small .work__row-in-column_img img {
	vertical-align: bottom;
}
@media (max-width: 700px) {
	.work .work__content .work__row {
		height: auto;
		flex-direction: column;
	}
	.work .work__content .work__row .work__column_big, .work .work__content .work__row .work__column_small {
		width: 100%;
	}
}
.work .work__content .work__row .work__column_img {
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
}
.work .work__content .work__row .work__row-in-column_text {
	height: 66.6666666667%;
	padding: 10.3189493433%;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
}
.work .work__content .work__row .work__row-in-column_text .work__text_icon {
	width: 41px;
	height: 30px;
	object-fit: contain;
}
.work .work__content .work__row .work__row-in-column_text .work__text_title {
	margin: 5% 0;
}
@media (max-width: 1000px) {
	.work .work__content .work__row .work__row-in-column_text .work__text_title {
		font-size: 16px;
		letter-spacing: 0;
	}
}
.work .work__content .work__row .work__row-in-column_text .work__text_label {
	font-size: 16px;
	line-height: 30px;
	font-weight: 400;
	color: #848789;
	position: relative;
}
@media (max-width: 1000px) {
	.work .work__content .work__row .work__row-in-column_text .work__text_label {
		line-height: 25px;
	}
}
@media (max-width: 800px) {
	.work .work__content .work__row .work__row-in-column_text .work__text_label {
		font-size: 14px;
	}
}
.work .work__content .work__row .work__row-in-column_text .line {
	border: 0.5px solid rgba(53, 55, 56, 0.2);
	width: 50px;
	height: 1px;
	margin-top: 6.6666666667%;
}
.work .work__content .work__row .work__row-in-column_text:after {
	content: "";
	position: absolute;
	bottom: -20px;
	left: 48%;
	border: 10px solid transparent;
	border-top: 10px solid #fff;
}

.slider {
	background-color: #f7f7f7;
}
.slider__content {
	padding: 120px 0 70px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.slider__content .slider__list .slider__item {
	width: 100%;
	transition: opacity 1s ease-in;
	display: none;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}
.slider__content .slider__list .slider__item_logo-link img {
	object-fit: contain;
	width: 32px;
	height: 27px;
}
.slider__content .slider__list .slider__item_title, .slider__content .slider__list .slider__item_title-time {
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: 0.2em;
}
.slider__content .slider__list .slider__item_title {
	margin: 35px 0 25px;
	font-weight: 700;
	color: #353738;
}
.slider__content .slider__list .slider__item_title-time {
	font-weight: 300;
	color: #848789;
}
.slider__content .slider__list .slider__item_title-time:before {
	content: " / ";
}
.slider__content .slider__list .slider__item_label {
	text-align: center;
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
}
@media (max-width: 767px) {
	.slider__content {
		padding: 70px 0 50px;
	}
	.slider__content .slider__list .slider__item_label {
		font-size: 16px;
		line-height: 25px;
	}
	.slider__content .slider__list .slider__item {
		margin-bottom: 50px;
	}
}
@media (max-width: 400px) {
	.slider__content {
		padding: 50px 0 30px;
	}
	.slider__content .slider__list .slider__item_label {
		font-size: 14px;
	}
	.slider__content .slider__list .slider__item_title, .slider__content .slider__list .slider__item_title-time {
		font-size: 16px;
		letter-spacing: 0;
		margin: 15px 0;
	}
}
.slider__pagination {
	width: 100%;
	height: auto;
	z-index: 3;
	text-align: center;
}
.slider__pagination span.dot {
	width: 10px;
	height: 10px;
	margin: 5px 7px;
	padding: 0;
	display: inline-block;
	background-color: #f7f7f7;
	border: 1px solid #c8c8c8;
	border-radius: 5px;
	cursor: pointer;
}

.discover {
	background-color: #282f35;
}
.discover__content {
	padding: 75px 0;
	display: flex;
	justify-content: center;
}
@media (max-width: 500px) {
	.discover__content {
		padding: 50px 0;
	}
}
.discover__content .discover__btn {
	border: 1px solid rgba(255, 255, 255, 0.49);
	padding: 20px 60px;
	background-color: rgba(255, 255, 255, 0);
	-webkit-transition-duration: 0.3s;
}
.discover__content .discover__btn:hover {
	background-color: rgba(255, 255, 255, 0.49);
	transition: 0.3s;
}
.discover__content .discover__btn .discover__text {
	color: #fff;
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.2em;
}
@media (max-width: 400px) {
	.discover__content .discover__btn {
		padding: 15px 40px;
	}
	.discover__content .discover__btn .discover__text {
		letter-spacing: 0.05em;
	}
}

.shop img {
	object-fit: cover;
	object-position: left;
	display: inline-block;
	min-width: 100%;
	height: 100%;
	position: relative;
	top: 0;
	left: 0;
}
.shop__content {
	height: 534px;
	width: 100%;
}
@media (max-width: 1000px) {
	.shop__content {
		height: 400px;
	}
}
@media (max-width: 768px) {
	.shop__content {
		height: auto;
	}
}
.shop__content .shop__inline-block {
	display: inline-block;
	width: 33.3333%;
	height: 100%;
	margin-right: -2px;
}
@media (max-width: 768px) {
	.shop__content .shop__inline-block {
		display: block;
		width: 100%;
		margin-right: 0px;
	}
}
.shop__content .shop__row {
	overflow: hidden;
	display: block;
	height: 50%;
	width: 100%;
	position: relative;
}
.shop__content .shop__column {
	overflow: hidden;
	height: 100%;
	width: 50%;
	margin-right: -3px;
	white-space: nowrap;
	display: inline-block;
	position: relative;
}
.shop .shop__overlay {
	-webkit-transition: 0.3s;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(100, 194, 158, 0.8);
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.shop .shop__overlay::before {
	content: url("../images/icons/bicycle_icon.png");
	max-width: 51px;
	max-height: 30px;
	object-fit: contain;
	margin-bottom: 10px;
}
.shop .shop__overlay::after {
	content: "shop now";
	font-size: 14px;
	line-height: 1.2;
	font-weight: 700;
	letter-spacing: 0.2em;
	color: #fff;
	text-transform: uppercase;
}
.shop .shop__overlay:hover {
	transition: 0.3s;
	opacity: 1;
}

.subscribe__content {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 110px 0;
}
@media (max-width: 500px) {
	.subscribe__content {
		padding: 50px 0;
	}
}
.subscribe__content .subscribe__text {
	margin: 35px 0;
	font-size: 24px;
	line-height: 34px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
}
@media (max-width: 500px) {
	.subscribe__content .subscribe__text {
		margin: 15px 0;
	}
}
.subscribe__content .subscribe__form .subscribe__input {
	margin-right: 10px;
	padding: 0 30px;
	width: 400px;
	height: 69px;
	border: 1px solid #d3d7d9;
	font-size: 20px;
	line-height: 24px;
	font-weight: 400;
	font-style: italic;
	color: #929292;
}
.subscribe__content .subscribe__form .subscribe__btn {
	width: 126px;
	height: 69px;
	background-color: #64c29e;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 24px;
	font-weight: 300;
	color: #ffffff;
	-webkit-transition: 0.3s;
}
.subscribe__content .subscribe__form .subscribe__btn:hover {
	cursor: pointer;
	background-color: rgba(100, 194, 158, 0.7);
	transition: 0.3s;
}
@media (max-width: 570px) {
	.subscribe__content .subscribe__form .subscribe__input {
		width: 300px;
		height: 59px;
	}
	.subscribe__content .subscribe__form .subscribe__btn {
		width: 86px;
		height: 59px;
	}
}
@media (max-width: 430px) {
	.subscribe__content .subscribe__form .subscribe__input {
		padding: 0 15px;
		width: 210px;
		height: 49px;
		font-size: 16px;
	}
	.subscribe__content .subscribe__form .subscribe__btn {
		width: 50px;
		height: 49px;
		font-size: 20px;
	}
}

.footer {
	background-color: #f7f7f7;
}
.footer__content {
	display: flex;
	justify-content: space-between;
	padding: 100px 0;
}
@media (max-width: 600px) {
	.footer__content {
		padding: 50px 0;
		flex-direction: column;
		align-items: center;
	}
}
.footer__content .footer__address_first-line {
	font-size: 16px;
	line-height: 17px;
	font-weight: 700;
	color: #848789;
}
.footer__content .footer__address_second-line, .footer__content .footer__address_third-line {
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
}
@media (max-width: 600px) {
	.footer__content .footer__address_first-line, .footer__content .footer__address_second-line, .footer__content .footer__address_third-line {
		text-align: center;
	}
}
.footer__content .footer__social {
	align-self: flex-end;
}
@media (max-width: 600px) {
	.footer__content .footer__social {
		margin: 15px 0;
		align-self: center;
	}
}
.footer__content .footer__social a {
	margin-right: 15px;
}
.footer__content .footer__social a:last-child {
	margin: 0;
}
.footer__content .footer__social img {
	width: 35px;
	height: 34px;
}
.footer__content .footer__develop {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
}
.footer__content .footer__develop_text {
	flex-wrap: nowrap;
	font-size: 14px;
	line-height: 17px;
	font-weight: 400;
	font-style: italic;
	color: #848789;
	margin-right: 10px;
}
.footer__content .footer__develop_logo {
	width: 55px;
	height: 36px;
}
